<html>
	<style>

		body {
			margin-top:50px;
		}

		h3 {
			font-weight:100;
		}

		input {
			padding: 10px;
			width: 25%;
		}
		
		#form {
			text-align:center;
		}
		
	</style>

<body>
	<div class="container">
			<div id="form">
				<h3> Formulario de cadastro </h3>
				<form action="{{ url_for('bar') }}" method="POST">
					<input type="text" placeholder="Nome do bar" name="nome" />
					<br>
					<input type="textarea" placeholder="Endereco" name="end" />
					<br>
					<input type="text" placeholder="Horario de funcionamento" name="horario" />
					<br>
					<input type="text" placeholder="Especialidade da casa" name="especialidade"/>
					<br><br>
					<input type="submit" value="Enviar" />
				</form>
			</div>
		</div>
</body>

</html>