<html>
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<style>

		body {
			margin-top:50px;
		}

		h3 {
			font-weight:100;
		}

		input {
			padding: 10px;
			width: 25%;
		}
		
		#form {
			text-align:center;
		}

		#menu {
			text-align: center;
		}

		a {
			margin: 10px;
		}
		
	</style>

<body>
	<div class="container">
			<div id="menu">
				<a href=""> Cadastrar Bar </a>
				<a href="{{ url_for('listaBares') }}"> Bares Cadastrados </a>				
			</div>

			<div id="form">
				<h3> Cadastrar Bar </h3>
				<form action="{{ url_for('bar') }}" method="POST">
					<input type="text" placeholder="Nome do bar" name="nome" />
					<br>
					<input type="text" placeholder="Descricao" name="desc" />
					<br>
					<input type="text" placeholder="Imagem" name="img" />
					<br>
					<input type="textarea" placeholder="Endereco" name="end" />
					<br>
					<input type="text" placeholder="Telefone" name="tel" />
					<br>
					<input type="text" placeholder="Especialidade da casa" name="especialidade"/>
					<br><br>
					<input type="submit" value="Enviar" />
				</form>
			</div>
		</div>
</body>

</html>