<html>

<body>
	<div class="container">
			<div id="form">
				<h3> Formulario de cadastro </h3>
				<form action="/bar" method="POST">
					<input type="text" placeholder="Nome do bar" id="nome" />
					<br>
					<input type="textarea" placeholder="Endereco" id="end" />
					<br>
					<input type="text" placeholder="Horario de funcionamento" id="horario" />
					<br>
					<input type="text" placeholder="Especialidade da casa" id="especialidade"/>
					<br><br>
					<input type="submit" value="Enviar" />
				</form>
			</div>
		</div>
</body>

</html>